/* CSS Reset from joshwcomeau */
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }
  /**************************/

html {
    font-size: 12px;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}

.logo {
    font-size: 1.5rem;
}

ul {
    display: flex;
    gap: 2rem;
}

li {
    list-style: none;
    font-size: 1.5rem;
}

.content {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: orange;
    text-align: center;
}

.content > .game-name {
    height: 20%;
}

.content h1 {
    font-size: 2.5rem;
}

.content h2 {
    font-size: 2rem;
}

.content h3 {
    font-size: 1.5rem;
}

.game-playbox {
    display: flex;
    align-items: center;
    gap: 8rem;
    font-size: 1.25rem;
    height: 80%;
}







.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer > .copyright {
    font-size: 1.25rem;
}
